.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.justify-between {
    justify-content: space-between;
}
.gap-2 {
    gap: .5rem;
}

.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background));
}

.font-medium {
    font-weight: 500;
}
.\[\&_svg\]\:shrink-0 svg {
    flex-shrink: 0;
}

.\[\&_svg\]\:size-4 svg {
    width: 1rem;
    height: 1rem;
}
.\[\&_svg\]\:pointer-events-none svg {
    pointer-events: none;
}
.gap-2 {
    gap: .5rem;
}

.items-center {
    align-items: center;
}
.flex {
    display: flex
;
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}
.font-bold {
    font-weight: 700;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}.mr-1 {
    margin-right: .25rem;
}

img, video {
    max-width: 100%;
    height: auto;
}

.sdhuyffdsds{
    background-color: transparent !important;
    border: none !important;
}
.trust-badge {
    display: flex
;
    align-items: center;
    font-size: 10px;
    color: var(--primary);
    margin-left: 10px;
    margin-top: 2px;
}
.trust-badge svg {
    margin-right: 3px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: start;

    img{
        width: 30px;
        margin: 0 2px;
    }

    .logo-text{
        font-weight: 600;
        font-size: 16px;
    }
}