.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.bg-\[\#0a1633\] {
    --tw-bg-opacity: 1;
    background-color: rgb(10 22 51 / var(--tw-bg-opacity, 1));
}
.mt-8 {
    margin-top: 2rem;
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}
.border-b, .border-y {
    border-bottom-width: 1px;
}
.gap-4 {
    gap: 1rem;
}
.justify-items-center {
    justify-items: center;
}
.pb-6 {
    padding-bottom: 1.5rem;
}

.border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}
.gap-4 {
    gap: 1rem;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid {
    display: grid
;
}
.text-center {
    text-align: center;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.tracking-wider {
    letter-spacing: .05em;
}
.uppercase {
    text-transform: uppercase;
}
.text-\[10px\] {
    font-size: 10px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.tracking-wider {
    letter-spacing: .05em;
}
.uppercase {
    text-transform: uppercase;
}
.gap-4 {
    gap: 1rem;
}
.justify-items-center {
    justify-items: center;
}
.items-center {
    align-items: center;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}
.pb-6 {
    padding-bottom: 1.5rem;
}

.border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
}
.border-b, .border-y {
    border-bottom-width: 1px;
}
.gap-4 {
    gap: 1rem;
}
.justify-items-center {
    justify-items: center;
}
.items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
img, video {
    max-width: 100%;
    height: auto;
}
.text-1010 {
    font-size: 10px;
}